body{
    background-color: LightGray;
}

#wrapper{
    width: auto;
    margin: 0 auto;
    background-color: white;
    font-family: sans-serif;
}

.header{
width: auto;
height: 75px;
color: Black;
background-color:#d77d42;
text-align: center;
font-family: sans-serif;

}

.Fall {
    width: auto;
    height:400px;
    background-color: #cc99ff;
    	padding:0px;

}
#Falltext{
    width: auto;
    height: 100px;
    text-align: center;
    	padding:0px;
      line-height: 50px
}

.Winter {
    width: auto;
    height:400px;
    background-color: #1ba659;
    position: relative;
    	padding:0px;
}
#Wintertext{
    width: auto;
    top: 120px;
    height: 300px;
    background-color:  #1ba659;
    text-align: center;
      position: relative;
      line-height: 50px;
      	padding:0px;
}

.footer{
    clear: both;
  width: auto;
    height: 150px;
    background-color: #bbbfbd;
    	padding:0px;
}
.social{
  clear: both;
  width: auto;
  height: 25px;
  background-color:red;
  	padding:0px;
}

#fimage1 {
	position: absolute;
	left: 35px;
	top: 125px;
	width: 150px;
	min-height: 250px;
	background-color:#FA8F04;
	padding: 0px;
  line-height: 50px;
}
#fimage2 {
	position: absolute;
	left: 400px;
	top: 250px;
  width: 150px;
	min-height: 250px;
	background-color: yellow;
	padding: 0px;
}
#fimage3{
	position: absolute;
	left: 1200px;
	top: 250px;
  width: 150px;
	min-height: 250px;
	background-color: #F64D0D;
	padding: 0px;
  line-height: 50px;
}
#fimage4{
	position: absolute;
	left:1700px;
	top: 125px;
  width: 150px;
	min-height: 250px;
	background-color: #D6E715;
	padding: 0px;
  line-height: 50px;
}

#wimage1 {
	position: absolute;
	left: 35px;
	top: 550px;
	width: 200px;
	min-height: 350px;
	background-color: blue;
	padding: 5px;
  line-height: 50px;
}
#wimage2 {
	position: absolute;
	left: 300px;
  top: 550px;
  width: 200px;
  min-height: 350px;
	background-color: #42687C ;
	padding: 5px;
}
#wimage3{
	position: absolute;
	left: 580px;
  top: 550px;
  width: 200px;
  min-height: 350px;
	background-color: #B3DAF1;
	padding: 5px;
  line-height: 50px;
}
#wimage4{
	position: absolute;
	right: 35px;
  top: 550px;
  width: 200px;
  min-height: 350px;
	background-color: #B3DAF1;
	padding: 5px;
  line-height: 50px;
}
#wimage5{
	position: absolute;
	right: 300px;
  top: 550px;
  width: 200px;
  min-height: 350px;
	background-color: purple;
	padding: 5px;
  line-height: 50px;
}
#wimage6{
	position: absolute;
	right: 580px;
  top: 550px;
  width: 200px;
  min-height: 350px;
	background-color: brown;
	padding: 5px;
  line-height: 50px;
}
