body{
    background-color: LightGray;
}

.wrapper{
    width: 1600px;
    margin: 0 auto;
    background-color: white;
    font-family: sans-serif;
}

.header{
width: 1600px;
height: 50px;
color: Black;
background-color:#d77d42;
text-align: center;
font-family: sans-serif;
}

.Fall {
    width: 1600px;
    height:600px;
    background-color: #cc99ff;
}
.Falltext{
    width: 1600px;
    height: 600px;
    text-align: center;
}

.Winter {
    width: 1600px;
    height:400px;
    background-color: #1ba659;
}
.Wintertext{
    width: 1600px;
    height: 400px;
    background-color:  #1ba659;
    text-align: center;
}

.footer{
    clear: both;
    width: 1600px;
    height: 200px;
    background-color: LightGray;
}
