* {
        position: relative;
        box-sizing: border-box;
         background-image: url("https://www.shutterstock.com/image-photo/chopping-board-seasonings-rosemary-on-dark-236994979");
    }
    body, html {
        padding: 0;
        margin: 0;
    }

body {
        line-height: 1.5;
         background-image: url("ghost.jpg");
    }


    #footer {
        padding: 1rem;
        border-top: 1px solid black;
    }

    #main {
        /* header height */
        margin: calc(1px + 3.5rem) auto 0 auto;
        /* screen - (footer+header) height */
        min-height: calc(100vh - 2px - 7rem);
        max-width: 1280px;
    }


    /* start article styles */

    .fixed-image {
        min-height: 20rem;

        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
